.font_rd6prapul,
[data-font="font_rd6prapul"],
[data-font="font_rd6prapul"] li a,
#content-holder h2,
#content-holder h3,
#content-holder h4 {
	font-family: "DM Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
}
.font_w12s9jkzz,
[data-font="font_w12s9jkzz"],
[data-font="font_w12s9jkzz"] li a,
#content-holder h1 {
	font-family: "DM Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 2.66666rem;
}
.font_y55oviez7,
[data-font="font_y55oviez7"],
[data-font="font_y55oviez7"] li a,
#content-holder p,
#content-holder li {
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}
#content-holder .overlay-nav li {
	font-family: "DM Mono", serif;
	font-size: 1.1rem;
}
.font_1xnhqtz7k,
[data-font="font_1xnhqtz7k"],
[data-font="font_1xnhqtz7k"] li a {
	font-family: "DM Sans", sans-serif;
	font-weight: 500;
	font-style: italic;
}
.font_wuysgdmxb,
[data-font="font_wuysgdmxb"],
[data-font="font_wuysgdmxb"] li a {
	font-family: "DM Mono", serif;
	font-weight: 400;
	font-style: normal;
}

.container {
	max-width: 1500px;
}
#content-holder h1 { font-size: 3rem;line-height: 3.8rem;letter-spacing: 0rem;}
#content-holder h2 { font-size: 2.4444444444444446rem;line-height: 3rem;letter-spacing: 0.011111111111111112rem;}
#content-holder h3 { font-size: 1.8888888888888888rem;line-height: 2.3333333333333335rem;letter-spacing: 0rem;}
#content-holder h4 { font-size: 1.6666666666666667rem;line-height: 2.111111111111111rem;letter-spacing: 0.016666666666666666rem;}
#content-holder p, #content-holder li { font-size: 1rem;line-height: 1.4444444444444;letter-spacing: 0.011111111111111112rem;}
#content-holder .is-content p { margin-bottom: 1.4444444444444em; }

#customize #custom_7k4l8ioiz p,
#content-holder .custom_7k4l8ioiz { background-color:transparent;color:#000000;text-transform:none;font-family: "Open Sans", Arial, sans-serif;font-weight: 400;font-style: normal;font-size:1rem;line-height:1.6667rem;letter-spacing:0rem;padding:0rem;text-decoration:none;text-decoration-color:#000000;-webkit-text-stroke: 0rem #000000;border-color:#000000;border-width:0rem;border-style:solid; }

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
		#content-holder h1 { font-size: 2.6rem; line-height: 3.6rem; }
		#content-holder h2 { font-size: 2.25rem; line-height: 2.76rem; }
		#content-holder h3 { font-size: 1.81rem; line-height: 2.24rem; }
		#content-holder h4 { font-size: 1.6rem; line-height: 2.03rem; }
		#content-holder h5 { font-size: 1.89rem; line-height: 2.11rem; }
		#content-holder h6 { font-size: 1rem; line-height: 1.67rem; }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
		#content-holder h1 { font-size: 2.4rem; line-height: 2.8rem; }
		#content-holder h2 { font-size: 2.15rem; line-height: 2.64rem; }
		#content-holder h3 { font-size: 1.74rem; line-height: 2.15rem; }
		#content-holder h4 { font-size: 1.53rem; line-height: 1.94rem; }
		#content-holder h5 { font-size: 1.89rem; line-height: 2.11rem; }
		#content-holder h6 { font-size: 1rem; line-height: 1.67rem; }
}
@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-holder h1 { font-size: 2rem; line-height: 2.4rem; }
	#content-holder h2 { font-size: 2.05rem; line-height: 2.52rem; }
	#content-holder h3 { font-size: 1.7rem; line-height: 2.1rem; }
	#content-holder h4 { font-size: 1.5rem; line-height: 1.9rem; }
	#content-holder h5 { font-size: 1.89rem; line-height: 2.11rem; }
	#content-holder h6 { font-size: 1rem; line-height: 1.67rem; }
}
@media screen and (max-width: 543.98px) {
	#content-holder h1 { font-size: 1.8rem; line-height: 2.4rem; }
	#content-holder h2 { font-size: 1.96rem; line-height: 2.4rem; }
	#content-holder h3 { font-size: 1.66rem; line-height: 2.05rem; }
	#content-holder h4 { font-size: 1.47rem; line-height: 1.86rem; }
	#content-holder h5 { font-size: 1.89rem; line-height: 2.11rem; }
	#content-holder h6 { font-size: 1rem; line-height: 1.67rem; }
}

.project-panel {
	background: #f5f5f5;
	padding: 2.5rem 0rem;
}
.pp-thumbs {
	margin-bottom: -1.666666666666667rem;
}
#content-holder .panel-label, .projectpanel-preview .panel-label {
	color: #000000;
	font-size: 1.777777777777778rem;
	text-transform: none;
	padding-left: 0rem;
	padding-bottom: 1.666666666666667rem;
	text-align: left;
	line-height: 1;
}
.project-panel .pp-title {
	padding: 0.5555555555555556rem 0rem 1.666666666666667rem 0rem;
}
.project-panel .pp-title a {
	color: #000000;
	font-size: 0.7222222222222222rem;
	text-transform: none;
}
.project-panel .pp-title span {
	color: #999999;
	font-size: 0.7222222222222222rem;
	text-transform: none;
}

.is-content { color: #151b2e; }
a { color: #1e202b; text-decoration: underline; }
a:hover { color: #666666; }
#nprogress .bar { background: #7bbcf4; }
.back-to-top a svg { fill: #1e202b; }

#content-1117 #section_ses2jw34y {margin-top: 4.444444444444445rem;}
#content-1117 #content_ey6oetuj0 {padding-top: 10rem;}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-1117 #content_ey6oetuj0 {padding-top: 7.222222222222222rem;}
}
@media screen and (min-width: 544px) and (max-width: 767.98px) {
		#content-1117 #content_ey6oetuj0 {padding-top: 0rem;margin-bottom: 4.444444444444445rem;}
		#column_ls0u2rtg8 { margin-left: 0 !important; }
}
@media screen and (max-width: 543.98px) {
	#content-1117 #content_ey6oetuj0 {padding-top: 0rem;margin-bottom: 4.444444444444445rem;}
	#content-1117 #content_ey6oetuj0 .is-content {}
	#column_ls0u2rtg8 { margin-left: 0 !important; }
}
#content-1117 #section_a7vfdt03x {margin-top: 4.444444444444445rem;}
#content-1117 #content_z8ui4751p {margin-top: 2.2222222222222223rem;}
#content-1117 #section_05bh50v4w {margin-top: 4.444444444444445rem;}
#content-1117 #content_qjcv83n1l {margin-top: 2.2222222222222223rem;}
#content-1117 #section_fi1kssden {margin-top: 4.444444444444445rem;margin-bottom: 0rem;}
#content-1117 #content_io3n6sdmn {margin-top: 2.2222222222222223rem;}
#content-1117 #section_c01qu8dxp {margin-top: 4.444444444444445rem;margin-bottom: 6.666666666666667rem;}
#content-1117 #content_5n5daf6hi {margin-top: 2.2222222222222223rem;}
#content-1117 .transition-wrap {background-color: #fafafa;}
.back-to-top a svg { fill: #ffffff; }

.nav_q18zpjkkx .navbar-inner .logo a { color: #1e202b; }
.nav_q18zpjkkx .navbar-inner .logo a { font-size: 1.1111111111111112rem; }
.nav_q18zpjkkx .navbar-inner .hamburger a.menu-icon { height: 14px; width: 24px; background-color: transparent; padding: 0;}
.nav_q18zpjkkx .navbar-inner .hamburger a.menu-icon span { background-color: #000000; margin-top: 7px; height: 2px;}
.nav_q18zpjkkx .navbar-inner .hamburger a.open-menu span::before { transform: translateY(-6px); }
.nav_q18zpjkkx .navbar-inner .hamburger a.open-menu span::after { transform: translateY(6px); }
.nav_q18zpjkkx .navbar-inner .hamburger a.open-menu:hover span::before { transform: translateY(-8px); }
.nav_q18zpjkkx .navbar-inner .hamburger a.open-menu:hover span::after { transform: translateY(8px); }
.nav_q18zpjkkx .navbar-inner nav ul li a span { font-size: 0.8333333333333334rem; }
.nav_q18zpjkkx .navbar-inner nav ul li a span { color: #666666; }
.nav_q18zpjkkx .navbar-inner nav ul li a { padding-left: 2.5rem; }
.nav_q18zpjkkx .navbar-inner nav ul li a { padding-right: 2.5rem; }
.nav_q18zpjkkx .navbar-inner nav ul li a span { text-transform: none; }
.nav_q18zpjkkx .navbar-inner nav ul li a span { border-bottom-width: 0rem; }
.nav_q18zpjkkx .navbar-inner nav ul li a span { border-bottom-color: #1e202b; }
.nav_q18zpjkkx .navbar-inner nav.standard ul { align-items: center; }
.nav_q18zpjkkx .navbar-inner nav ul li a:hover span { border-bottom-color: #1e202b; }
.nav_q18zpjkkx .navbar-inner nav ul li.current-menu-item a span { border-bottom-color: #1e202b; }
.nav_q18zpjkkx .navbar-inner nav ul li.current_page_item a span { border-bottom-color: #1e202b; }
[data-post-type="project"] .navbar-inner nav ul li.portfolio-grid a span, [data-post-type="post"] .navbar-inner nav ul li.blog-overview a span { border-bottom-color: #1e202b; }

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	.nav_q18zpjkkx .navbar-inner .hamburger a.menu-icon { height: 14px; }
	.nav_q18zpjkkx .navbar-inner .hamburger a.menu-icon span { margin-top: 7px; }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.nav_q18zpjkkx .navbar-inner .hamburger a.menu-icon { height: 14px; }
	.nav_q18zpjkkx .navbar-inner .hamburger a.menu-icon span { margin-top: 7px; }
}
@media screen and (min-width: 544px) and (max-width: 767.98px) {
	.nav_q18zpjkkx .navbar-inner .hamburger a.menu-icon { height: 14px; }
	.nav_q18zpjkkx .navbar-inner .hamburger a.menu-icon span { margin-top: 7px; }
}
@media screen and (max-width: 543.98px) {
	.nav_q18zpjkkx .navbar-inner .hamburger a.menu-icon { height: 14px; }
	.nav_q18zpjkkx .navbar-inner .hamburger a.menu-icon span { margin-top: 7px; }
}
html{ margin-top:0px!important; }
